@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: clamp(14px, 2vw, 18px) clamp(18px, 3vw, 24px);
  max-width: 345px;
  flex: 1 1 calc(33.33% - 30px); /* 3 cards per row with spacing */
  min-width: 300px;
}

.image {
  margin-bottom: clamp(16px, 4vw, 26px);
}

.title {
  font-size: clamp(20px, 2.5vw, 25px);
  font-weight: 700;
}

.description {
  margin-top: clamp(4px, 1vw, 6px);
  font-size: clamp(18px, 2vw, 25px);
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: clamp(10px, 2vw, 14px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: clamp(4px, 1vw, 6px);
  list-style: none;
}

.skill {
  font-size: clamp(18px, 2vw, 25px);
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: clamp(1px, 0.5vw, 2px) clamp(12px, 2vw, 22px);
}

.links {
  width: 100%;
  margin-top: clamp(16px, 4vw, 26px);
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: clamp(20px, 2.5vw, 30px);
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: clamp(1px, 0.5vw, 1px) clamp(12px, 2vw, 22px);
}
